<!-- Start Appointment -->
<section class="appointment pb-5 about">
  <div class="container-fluid alert alert-info pb-3">


    <div class="row  ">
      <div class="col-lg-6 col-md-12 col-12 m-auto">

        <div class="form-group">
          <h1 class="fw-bold  text-capitalize pb-5 lh-1">It was all <br>a dream.  </h1>
          <p class="fw-bold fs-5 text-capitalize pb-3 text-primary" style="text-align: justify;">We are a locally owned family (sister duo) business <br> established in 2023. Luxe Balloons and Decor was  <br>  born from the years of planning and decorating for  <br> our large family events. We strive to create a more  <br> efficient and fun experience for all.</p>
          <p class="fw-bold fs-5 text-capitalize pb-3 text-primary" style="text-align: justify;">Let us help make your event decorating effortless <br> and captivating! </p>
          <p class="fw-bold fs-5 text-capitalize pb-3 text-justify text-primary" style="text-align: justify;">We take pride in creating our balloon installations <br> with high quality, biodegradable balloons.</p>
          <p class="fw-bold fs-5 text-capitalize pb-2 text-justify text-primary" style="text-align: justify;">Owners & Designers: Regan Givens & Hailey Steele</p>
        </div>
      </div>


      <div class="col-lg-6 col-md-12 ">
        <div class="appointment-image p-5 ">
          <div class="img-post mt-3" style="text-align: center !important;  ">

            <img src="../../../assets/images/ServicesItems/BrittanyHanson.jpg" class="hiding rounded-circle aspect-ratio-1 " style="width: 550px; height:590px; object-fit: cover; object-position: 50% 30%;" alt="#">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Appointment -->

