<!-- About Component -->
<div class="about-component">
  <div class="section-title mb-70 section-title-bar">
    <h2>About Us</h2>
  </div>
  <div class="about-text pb-3">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12 m-auto">
        <div class="about-content">
          <h1 class="fw-bold text-capitalize pb-5 lh-1 title-pop">It Was All A Dream.</h1>
          <p class="fw-bold fs-5 text-capitalize pb-3">We are a locally owned family (sister duo) business established in 2023. Luxe Balloons and Decor was born from years of planning and decorating for our large family events. We strive to create a more efficient and fun experience for all.</p>
          <p class="fw-bold fs-5 text-capitalize pb-3">Let us help make your event decorating effortless and captivating!</p>
          <p class="fw-bold fs-5 text-capitalize pb-3">We take pride in creating our balloon installations with high-quality, biodegradable balloons.</p>
          <p class="fw-bold fs-5 text-capitalize pb-2">Owners & Designers: Regan Givens & Hailey Steele</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <div class="img-post mt-3" style="text-align: center;">
            <img src="../../../assets/images/ServicesItems/BrittanyHanson.jpg" class="rounded-circle aspect-ratio-1 about-img" alt="#">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
