@import "~bootstrap-icons/font/bootstrap-icons.css"; /*DO NOT REMOVE, Required for Bootstrap-icons to work*/

.font-merriweather-sans {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
