<section class=" home">

  <div class="landing-carousel-container">
    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
      <ng-template ngbSlide>
        <img src="/assets/images/PinkYellowWhiteGarland.jpg" alt="First slide" class="carousel-image d-block w-100" />
        <div class="carousel-caption">
          <h3>First Slide</h3>
          <p>Description for the first slide.</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="/assets/images/BlackGoldBeigeGarland.jpg" alt="Second slide" class="carousel-image d-block w-100" />
        <div class="carousel-caption">
          <h3>First Slide</h3>
          <p>Description for the second slide.</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="\assets\images\PinkGoldWhiteWall.JPG" alt="Third slide" class="carousel-image d-block w-100" />
        <div class="carousel-caption">
          <h3>First Slide</h3>
          <p>Description for the third slide.</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="/assets/images/SilverBlueWhiteArchDiscoWall.jpg" alt="Fourth slide" class="carousel-image d-block w-100" />
        <div class="carousel-caption">
          <h3>First Slide</h3>
          <p>Description for the fourth slide.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>
<br />
<br />

<br />

<br />

<app-contact></app-contact>
