<!-- header -->
<header class="header">
  <nav class="navbar navbar-expand-lg py-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="assets/images/Logo.png" alt="Luxe Balloon Decor Logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Offerings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/terms">Terms</a>
          </li>
          <li class="nav-item social">
            <a class="nav-link social" href="mailto:luxedecor2023@gmail.com">
              <i class="fa-regular fa-envelope"></i>
            </a>
            <a class="nav-link social" href="https://www.instagram.com/luxe_balloons_and_decor/">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="nav-link social" href="https://www.pinterest.com/luxedecor2023">
              <i class="fa-brands fa-pinterest"></i>
            </a>
            <a class="nav-link social" href="https://www.facebook.com/profile.php?id=100095004403567'">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- end header -->
