/*  */
.GalleryPadding {
}

.new-product-area {
  margin: 100px;
  margin-top: 35rem;
  height: 600px;
  /* background-color: #626669; */
}

  .new-product-area h2 {
    margin-bottom: 50px;
  }

.watch-area {
  margin: 100px;
  height: 1000px;
}

.popular-items {
  margin: 100px;
  height: 900px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 100%;
  overflow: hidden;
}

.item .item-img {
  position: relative;
  /* background-color: #ff2020; */
  overflow: hidden;
}

  .item .item-img::after {
    content: "";
    /* width: 0%;
   height: 0%; */
    position: absolute;
    inset: 0;
    /* background-color: #0000008f; */
    opacity: 0;
    transition: all .5s;
  }

.item:hover .item-img::after {
  opacity: 1;
  width: 100%;
  
}

.item-img img {
  transition: all .25s linear;
}

.item:hover .item-img img {
  transform: scale(1.1);
}
.section-tittle{
    margin-top: -250px;
}

