<div class="card text-white bg-dark" style="max-width: 540px;">

  <img src="../../../assets/images/ServicesItems/gallery16jpg.jpg" class="img-fluid" class="card-img-top mx-auto" style="aspect-ratio: 5/3.5; object-fit:cover;" alt="...">
  <div class="card-body bg-success">
    <h5 class="card-title">Balloon Columns</h5>
    <p class="card-text">
      Add some pizzazz to the entrance or throughout your event with balloon columns! Columns are visually striking and versatile. Choose the perfect height ranging between 5’ and 7’.
      <br><br><br>
      Standard, single: $60
      <br>
      Standard, pair: $100
      <br><br>
      Organic, single: $100 (shown in photo)
      <br>
      Organic, pair: $175
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Installation fee: 18% of subtotal</li>
    <li class="list-group-item">+taxes and delivery</li>
    <li class="list-group-item">Additional sizes, colors, and specialty balloons/balloon topper available to add-on for an additional fee.</li>
  </ul>
</div>

<div class="col-lg-4 col-md-6 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
  <div class="card text-white bg-dark" style="max-width: 540px;">
    <img src="../../../assets/images/ServicesItems/gallery28.jpg" class="img-fluid" class="card-img-top mx-auto" style="aspect-ratio: 5/3.5; object-fit:cover;" alt="...">
    <div class="card-body bg-success">
      <div class="card-body bg-success">
        <h5 class="card-title">Balloon Wall</h5>
        <p class="card-text">
          Need an Instagram worthy photo backdrop?! Then you need a luxurious balloon wall! A balloon wall can accommodate any event theme. These unique design concepts can be the center piece or accent piece at your next event.
          <br>
          <br>  5”, 11”, & 18” balloons, up to 3 colors
          <br>
          <br>       6’ H x 5’ W: $400

          <br><br> 8’ H x 8’ W: $580
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Installation fee: 18% of subtotal</li>
        <li class="list-group-item">+tax and delivery</li>
        <li class="list-group-item">Additional sizes, colors, and specialty balloons available to add-on for an additional fee.</li>
      </ul>
    </div>
  </div>

