<div class="container ">
  <div class="Services section-tittle ">
    <h3>Our Services</h3>

    <div class="row   justify-content-center">

      <div class="col-lg-6 col-md-12 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="card text-white bg-dark " style="max-width: 700px;">
          <img src="../../../assets/images/ServicesItems/gallery21.jpg" class="img-fluid" class="card-img-top mx-auto" style="height: 600px; width:630px; border-radius:25px;" alt="...">
          <div class="card-body bg-success">
            <h5 class="card-title ">Balloon Arch</h5>
            <p class="card-text">
              A balloon arch can take your event to the next level! Balloon arches can be used to: create an entrance/walkway, mark the location of a race, draw attention to something special, and much more!

              <br>Standard (12’ minimum): 11” balloons, up to 2 colors - $15/foot

              <br><br><br>Organic (12’ minimum): 5”, 11”, & 18” balloons, up to 3 colors - $20/foot
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Installation fee: 18% of subtotal</li>
            <li class="list-group-item">+taxes and delivery</li>
            <li class="list-group-item">Additional sizes, colors, and specialty balloons available to add-on for an additional fee.</li>
          </ul>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="card text-white bg-dark" style="max-width: 700px;">
          <img src="../../../assets/images/ServicesItems/gallery-HomeImage.jpg" class="img-fluid" class="card-img-top mx-auto" style="height: 600px; width:630px; border-radius:25px;" alt="...">
          <div class="card-body bg-success">
            <h5 class="card-title">Organic Balloon Garland</h5>
            <p class="card-text">
              Organic balloon garlands are a combination of different size, texture, and color balloons. If you want a luxe garland, then we can spice it up with artificial flowers, pampas grass, jewels, and more! Set the mood of your event with an organic balloon garland!
              <br><br><br>
              Organic garland (12’ minimum): 5”, 11”, & 18” balloons, up to 3 colors - $20/foot
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Installation fee: 18% of subtotal</li>
            <li class="list-group-item">+taxes and delivery</li>
            <li class="list-group-item">Additional sizes, colors, and specialty balloons available to add-on for an additional fee.</li>
          </ul>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="card text-white bg-dark" style="max-width: 700px;">
          <img src="../../../assets/images/ServicesItems/gallery16.jpg" class="img-fluid" class="card-img-top mx-auto" style="height: 600px; width:630px; border-radius:25px;" alt="...">
          <div class="card-body bg-success">

            <h5 class="card-title">Balloon Columns</h5>
            <p class="card-text">
              Add some pizzazz to the entrance or throughout your event with balloon columns! Columns are visually striking and versatile. Choose the perfect height ranging between 5’ and 7’.

              <br>  Standard, single: $60
              <br>
              <br>      Standard, pair: $100

              <br> Organic, single: $100 (shown in photo)
              <br> Organic, pair: $175
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Installation fee: 18% of subtotal</li>
            <li class="list-group-item">+tax and delivery</li>
            <li class="list-group-item">Additional sizes, colors, and specialty balloons available to add-on for an additional fee.</li>
          </ul>
        </div>
      </div>



      <div class="col-lg-6 col-md-12 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="card text-white bg-dark" style="max-width: 700px;">
          <img src="../../../assets/images/ServicesItems/gallery28.jpg" class="img-fluid" class="card-img-top w-150 shadow-sm" style="height: 600px; width:630px; border-radius:25px;" alt="...">
          <div class="card-body bg-success">

            <h5 class="card-title">Balloon Wall</h5>
            <p class="card-text">
              Need an Instagram worthy photo backdrop?! Then you need a luxurious balloon wall! A balloon wall can accommodate any event theme. These unique design concepts can be the center piece or accent piece at your next event.
              <br>
              <br>  5”, 11”, & 18” balloons, up to 3 colors
              <br>
              <br>       6’ H x 5’ W: $400

              <br> 8’ H x 8’ W: $580
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Installation fee: 18% of subtotal</li>
            <li class="list-group-item">+tax and delivery</li>
            <li class="list-group-item">Additional sizes, colors, and specialty balloons available to add-on for an additional fee.</li>
          </ul>

        </div>
      </div>

      <div class="col-lg-6 col-md-12 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="card text-white bg-dark" style="max-width: 700px;">
          <img src="../../../assets/images/ServicesItems/gallery2.jpg" class="img-fluid" class="card-img-top mx-auto" style="height: 600px; width:630px; border-radius:25px;" alt="...">
          <div class="card-body bg-success">
            <h5 class="card-title">Half Balloon Hoop</h5>
            <p class="card-text">
              Strike a pose in front of this half hoop balloon garland!
              <br>
              White hoop dimension: 6.2 ft.
              <br>
              Gold hoop dimension: 7.2 ft.
              <br><br>
              Half circle, organic: 5”, 11”, & 18” balloons, up to 3 colors - $320 (6.2ft) and $340 (7.2ft)
            </p>
            <br><br><br>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Installation fee: 18% of subtotal</li>
            <li class="list-group-item">+taxes and delivery</li>
            <li class="list-group-item">Additional sizes, colors, and specialty balloons available to add-on for an additional fee.</li>
          </ul>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="card text-white bg-dark" style="max-width: 700px;">
          <img src="../../../assets/images/ServicesItems/gallery47.jpg" class="img-fluid" class="card-img-top mx-auto" style="height: 600px; width:630px; border-radius:25px;" alt="...">
          <div class="card-body bg-success">
            <h5 class="card-title">Full Balloon Hoop</h5>
            <p class="card-text">
              Make a loud statement with a full hoop balloon garland!
              <br>
              White hoop dimension: 6.2 ft.
              <br><br>
              Gold hoop dimension: 7.2 ft.
              <br><br>
              Full circle, organic: 5”, 11”, & 18” balloons, up to 3 colors - $400 (6.2ft) and $420 (7.2ft)
            </p>
            <br><br>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Installation fee: 18% of subtotal</li>
            <li class="list-group-item">+taxes and delivery</li>
            <li class="list-group-item">Additional sizes, colors, and specialty balloons available to add-on for an additional fee.</li>
          </ul>

        </div>
      </div>


      <div class="col-lg-6 col-md-12 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="card text-white bg-dark" style="max-width: 700px;">
          <img src="../../../assets/images/ServicesItems/gallery17.jpg" class="img-fluid" class="card-img-top mx-auto" style="height: 600px; width:630px; border-radius:25px;" alt="...">
          <div class="card-body bg-success">
            <h5 class="card-title">Balloon Ceiling</h5>
            <p class="card-text">
              <br /> A whole vibe! A balloon ceiling elevates and sets the mood for an epic event! <br />  <br />
              5”, 11”, & 18” balloons, up to 3 colors.  <br />  <br />

              Price depends on ceiling dimensions.  <br />  <br />
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Installation fee: 18% of subtotal</li>
            <li class="list-group-item">+taxes and delivery</li>
            <li class="list-group-item">Additional sizes, colors, and specialty balloons available to add-on for an additional fee.</li>
          </ul>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="card text-white bg-dark" style="max-width: 700px; ">
          <img src="../../../assets/images/ServicesItems/gallery3.jpg" class="img-fluid" class="card-img-top mx-auto" style="height: 600px; width:630px; border-radius:25px;" alt="...">
          <div class="card-body bg-success">
            <h5 class="card-title">Custom</h5>
            <p class="card-text">
              <br /> Some quick example text to build on the card title and make up the bulk of the card's content. <br />  <br />
              <br>Price depends on concept/design.  <br />  <br />
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Installation fee: 18% of subtotal</li>
            <li class="list-group-item">
              +taxes and delivery  <br />
              <br />  <br />

            </li>

            <li class="list-group-item"></li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <br><br><br>


  
          <section class="container-fluid rentalItem">
            <div class="title" style="text-align:center;margin:50px auto;">
              <h2>Rentals & Add-Ons</h2>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Balloon Hoop</h5>
                    <p class="card-text">White 6.2’ - $75</p>
                    <p class="card-text"><small class="text-body-secondary">Gold 7.2’ - $100</small></p>
                  </div>
                </div>
              </div>



              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Rectangle Backdrop</h5>
                    <p class="card-text">$75.</p>
                    <p class="card-text"><small class="text-body-secondary">Dimensions: 6’ H x 6’ W or 10’ H x 10’ W</small></p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Round Top Arches</h5>
                    <p class="card-text">Gold set of three - $100</p>
                    <p class="card-text">Dimensions: 4’ H x 1.7’ W, 5’ H x 2.2’ W, 6’ H x 2.6’ W</p>
                    <p class="card-text"><small class="text-body-secondary">Round top arch covers available in various colors!</small></p>
                  </div>
                </div>
              </div>
            </div>



            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Circle Arch (Open Bottom)</h5>
                    <p class="card-text">$75</p>
                    <p class="card-text"><small class="text-body-secondary">White - 7.2’</small></p>
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem5.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">White Square Backdrop</h5>
                    <p class="card-text">$75</p>
                    <p class="card-text"><small class="text-body-secondary">Dimensions: Up to 6.6’ x 6.6’</small></p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem6.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Cylinder Pedestal Stands</h5>
                    <p class="card-text">White set of three - $50</p>
                    <p class="card-text">Dimensions: 23.5” H x 13” W, 29.5” H x 14” W, 35.5” H x 15.75” W</p>
                    <p class="card-text"><small class="text-body-secondary">Cylinder pedestal stand covers available in various colors!</small></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem7.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Silver Sequin Backdrop</h5>
                    <p class="card-text">$75</p>
                    <p class="card-text"><small class="text-body-secondary">Dimensions 6’ H x 6’ W</small></p>
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem8.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Faux Green Boxwood Backdrop</h5>
                    <p class="card-text">$150</p>
                    <p class="card-text"><small class="text-body-secondary">Dimensions: 7’ H x 7’ W</small></p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem9.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Custom Vinyl</h5>
                    <p class="card-text">Starting at $20</p>
                    <p class="card-text"><small class="text-body-secondary">Custom vinyl can be added to our wooden arches, foam board arches, spandex arch slip covers, and so much more!</small></p>
                  </div>
                </div>
              </div>
            </div>


            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem10.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Rattan Fan Back Chair</h5>
                    <p class="card-text">$75</p>
                    <p class="card-text">Dimensions (Overall): 44” H x 30” W x 25.2” D</p>
                    <p class="card-text"><small class="text-body-secondary">Seat Dimensions: 18” W x 19.25” D x 18” floor to seat top</small></p>
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem11.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Jute Boho Rug</h5>
                    <p class="card-text">$40</p>
                    <p class="card-text"><small class="text-body-secondary">4ft, Round</small></p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem12.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Mr & Mrs Neon Sign</h5>
                    <p class="card-text">$35</p>
                    <p class="card-text">This neon sign is battery operated & has a dimmer switch</p>
                    <p class="card-text">Color: White</p>
                    <p class="card-text"><small class="text-body-secondary">Size: 23” W</small></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem13.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Light Up Marquee Numbers/Letters</h5>
                    <p class="card-text">$30 per number/letter</p>
                    <p class="card-text">Numbers pictured are 4’ tall and light up with cool white lights.</p>
                    <p class="card-text"><small class="text-body-secondary">Various options available.</small></p>
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem14.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Faux Florals</h5>
                    <p class="card-text">Starting at $50</p>
                    <p class="card-text"><small class="text-body-secondary"> Add an extra layer of texture to any balloon installation using artificial flowers, pampas grass, and much more!></small></p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem15.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bedazzling</h5>
                    <p class="card-text">Starting at $15/balloon</p>
                    <p class="card-text"><small class="text-body-secondary">If you can dream it, then we can put it on a balloon! Our limits are endless when it comes to bedazzling balloons with rhinestones, pearls, other types of jewels, glitter, and much more.</small></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem16.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Balloon Clusters</h5>
                    <p class="card-text">$15/cluster</p>
                    <p class="card-text"><small class="text-body-secondary">Carry your theme throughout your event space with balloon clusters! Add balloon clusters to your order to spice it up.</small></p>
                  </div>
                </div>
              </div>



              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem17.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Additional Services</h5>
                    <p class="card-text">Ask us about our additional event decorating and coordinating services!</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <img src="../../../assets/images/rentalItems/rentalItem18.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Specialty Balloons</h5>
                    <p class="card-text">Specialty balloons available to add-on to any installation for an additional fee.</p>
                    <p class="card-text"><small class="text-body-secondary">Specialty consists of balloons larger than 18”, mylar, metallic, confetti, and other fancy balloons!</small></p>
                  </div>
                </div>
              </div>
            </div>
</section>




