<div class="container-fluid ServicesPadding section-padding30">
  <div class="section-title mb-70 section-title-bar">
    <h2>Our Services</h2>
  </div>
  <div class="row gallery-grid">
    <div *ngFor="let service of services" class="col-lg-4 col-md-6 col-sm-12 gallery-item">
      <div class="card">
        <img [src]="service.image" class="img-fluid card-img-top" [alt]="service.title">
        <div class="card-body">
          <h5 class="card-title">{{ service.title }}</h5>
          <p class="card-text" [innerHTML]="service.description"></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let detail of service.details">{{ detail }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section-title mb-70 section-title-bar">
    <h2>Rentals &amp; Add-Ons</h2>
  </div>

  <div class="row gallery-grid">
    <div *ngFor="let rental of rentals" class="col-lg-4 col-md-6 col-sm-12 gallery-item">
      <div class="card">
        <img [src]="rental.image" class="img-fluid card-img-top" [alt]="rental.title">
        <div class="card-body">
          <h5 class="card-title">{{ rental.title }}</h5>
          <p class="card-text">{{ rental.description }}</p>
          <p class="card-text"><small class="text-body-secondary" [innerHTML]="rental.details"></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
