<div class="container ContactUs alert alert-success">
  <div id="app-contact" class="Contact">

    <h1>Contact Us</h1>
    <div class="container alert alert-success">
      <div class="row  justify-content-center   ">
        <div class="col-lg-4 col-md-6">
          <h2>Let’s collaborate.</h2>
          <p>
            Email: luxedecor2023&#64;gmail.com <br>
            Call or text: (360) 880-7556 or (360) 520-4883
          </p>
        </div>
        <div class="col-lg-8 col-md-6 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">First and last name</span>
              <input type="text" aria-label="First name" class="form-control">
              <input type="text" aria-label="Last name" class="form-control">
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="mb-3 d-grid gap-2">
            <a href="mailto:luxedecor2023@gmail.com" class="btn btn-primary" type="button">Send</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
