<div class="container ContactUs alert alert-success">
  <div id="app-contact" class="Contact ">

    <h1>Contact Us</h1>
    <div class="container alert alert-success ">
      <div class="row  justify-content-center   ">
        <div class="col-lg-4 col-md-6">
          <h2>Let’s collaborate.</h2>
          <p>
            Email: luxedecor2023&#64;gmail.com <br>
            Call or text: (360) 880-7556 or (360) 520-4883
          </p>
        </div>
        <div class="col-lg-8 col-md-6 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">First and last name</span>
              <input type="text" aria-label="First name" class="form-control">
              <input type="text" aria-label="Last name" class="form-control">
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <!-- <div class="mb-3 d-grid gap-2">
    <a href="mailto:luxedecor2023@gmail.com" class="btn btn-primary" type="button">Send</a>
  </div>-->
          <div data-mdb-ripple-init class="item2 mb-3 d-grid gap-2">
            <div class="overlay2"></div>
            <h3>
              <a href="">Send</a>

            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="footerclass container-fluid bg-body-tertiary text-center" style="background-color: black !important;">
  <!-- Grid container -->
  <div class="container p-4">
  </div>

  <!-- Section: Social media -->
  <p style="font-size: 25px;">CONNECT WITH US</p>
  <section class="mb-4 fotter-socail">

    <a href="mailto:luxedecor2023@gmail.com">

      <i class="fa-regular fa-envelope"></i>

    </a>
    <a href="https://www.instagram.com/luxe_balloons_and_decor/">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.pinterest.com/luxedecor2023">
      <i class="fa-brands fa-pinterest"></i>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100095004403567'">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
  </section>



  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-4 mb-md-0 col1">
      <h3 class="text-uppercase" style="font-size: 30px;">EXPLORE</h3>

      <ul class="list-unstyled mb-0">
        <li>
          <a class="text-body" href="#!">Services</a>
        </li>
        <li>
          <a class="text-body" href="#!">Gallery</a>
        </li>
        <li>
          <a class="text-body" href="#!">About</a>
        </li>
        <li>
          <a class="text-body" href="#!">Contact</a>
        </li>
        <li>
          <a class="text-body" href="#!">Terms and Conditions</a>
        </li>

      </ul>
    </div>


    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-4 mb-md-0 col2">


      <section class="mb-0 mt-4 fotter-socail">

        <form action="">
          <h5 class="text-uppercase">LET’S COLLABORATE!</h5><br />
          <h5 class="text-reset">Interested in our services? Drop your name and email address<br /> and we will be in touch soon! No spam (scout’s honor)</h5>

          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->

            <p class="pt-2">

              <input type="text" id="form5Example24" class="form-control" placeholder="First Name" style="width:600px; height:60px;padding-right:100px;" />
            </p>
          </div>

          <p class="pt-2">

            <input type="text" id="form5Example24" class="form-control" placeholder="Last Name" style="width:600px; height:60px;" />
          </p>
          <p class="pt-2">

            <input type="email" id="form5Example24" class="form-control" placeholder="Email Address" style="width:600px; height:60px;" />
          </p>


        </form>

        <div data-mdb-ripple-init class="item2">
          <div class="overlay2"></div>
          <h3>
            <a href="">Submit</a>

          </h3>
        </div>

        <!-- <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4" style="margin-left:300px; margin-top:50px;border:solid 2px;color:white">
     Subscribe
   </button>-->
        <!--Grid row-->
      </section>

    </div>

    <div class="text-center pb-1 " style="font-size: 200px; font-weight: 500;margin-top:-50px;">
      Got An Event?
    </div>
    <div class="text-center pb-1">
      By using this website, you agree to our use of cookies. We use cookies to provide you with a great experience and to help our website run effectively.
    </div>
    <div class="text-center pb-1">
      <p class="text-reset fw-bold" href="#">Licensed (UBI #: 605-297-832)</p>
    </div>
  </div>
</footer>
<!-- Footer -->
