<!-- header -->
<header class="header" style="background-image: url('../../../assets/images/ServicesItems/gallery-HomeImage.jpg'); background-position: center; background-size: cover; height: 100vh; position: relative; overflow: hidden; ">

  <nav class="navbar navbar-expand-lg py-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="assets/images/Luxe+Black+logo+(Transparent+Background).png" alt="Luxe Balloon Decor Logo" style="max-width: 400px; height: 400px;" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="font-size:25px; color:white;" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:25px; color:white;" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:25px; color:white;" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:25px; color:white;" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:25px; color:white;" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size:25px; color:white;" href="terms">Terms</a>
          </li>


        </ul>
        <div class="socail">
          <a style="font-size:25px; color:white;" href="mailto:luxedecor2023@gmail.com">
            <i class="fa-regular fa-envelope"></i>

          </a>
          <a style="font-size:25px; color:white;" href="https://www.instagram.com/luxe_balloons_and_decor/">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a style="font-size:25px; color:white;" href="https://www.pinterest.com/luxedecor2023">
            <i class="fa-brands fa-pinterest"></i>
          </a>
          <a style="font-size:25px; color:white;" href="https://www.facebook.com/profile.php?id=100095004403567'">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
<!--<div class="landing">
    <div class="intro-text">
      <h1>Make a Statement</h1>
      <p>Dream Decor</p>
    </div>
  </div>
<!-- end header -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- -- new-product-area  -->
