<!-- Testimonials Component -->
<div class="testimonial-component container-fluid section-padding30">
  <div class="section-title mb-70 section-title-bar">
    <h2>Testimonials</h2>
  </div>
  <div class="testimonial-grid">
    <div class="testimonial-item" *ngFor="let testimonial of testimonials">
      <h5 class="testimonial-title">{{ testimonial.title }}</h5>
      <p class="testimonial-date">{{ testimonial.date }}</p>
      <p class="testimonial-text">{{ testimonial.text }}</p>
      <p class="testimonial-author">~ {{ testimonial.author }}</p>
    </div>
  </div>
</div>
